*{
    margin: 0;
    padding: 0;
    
}
.head{
    
    background-image: url("/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 50%;
    
}
.heo{
    color: rgba(0, 255, 13, 0.596);
    text-align: center;
    padding-left: 50px;
    padding-top: 150px;
    margin-right: 150px;
    font-weight: 700;
    font-size: 40px;
}
.para{
    color: rgba(0, 255, 179, 0.925);
    text-align: center;
    margin-right: 150px;
    margin-top: 20px;
    font-size: 22px; }
 .btn{
        height: 30px;
        margin-left: 350px;
        margin-top: 50px;
        position: absolute;
        padding: 0 5px;
        background-color: rgb(20, 238, 183);
        font-weight: 700;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 5px;
    
}
/* main */
 .main{
    background-color: azure;
    width: 50%;
    text-align: center;
    margin-top: 100px; 
}
.top-main{
    padding: 20px;

}
.main-h3{
    color: rgb(225, 0, 255);
    font-weight: 800;
    font-size: 30px;

}
.main-top-pera{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}
.btnc{
    height: 40px;
    background-color: rgb(224, 205, 182);
    margin-left: 20px;
    padding: 0px 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.btnd{
    height: 40px;
    margin-left: 20px;
    padding: 0px 10px;
    border: 2px solid red;
    background-color: rgb(175, 175, 129);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;

}
.dntbtn{
    margin-top: 30px;
    border: none;
   border-bottom: 1px solid rgb(173, 152, 152);
   height: 50px;
   width: 40%; 
}

.dbtn .btn{
    margin-top: 20px;
    margin-right: 700px;
    text-align: center;
}
.btnt{
    height: 30px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: rgb(20, 238, 183);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}
.mid{
    padding-top: 50px;
    
}
.midh
{color: #E100FF;
font-weight: 800;
font-size: 30px;
}
.midp{
    color: #64A2F2;
    padding-top: 10px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* down */
.flex{
    display: flex;
padding: 50px 20px;
}
.dvo{
    background-color: rgb(233, 199, 155);
    padding: 30px 15px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin: 10px;
    
}
.dho{
    padding: 20px 0;
    font-weight: 700;
    font-size: 25px;
}
.dhto{
    background-color: rgb(212, 233, 155);
    padding: 30px 15px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin: 10px;
}
.dht{
    padding: 20px 0;
    font-weight: 700;
    font-size: 25px;
}
.dhtto{
    background-color: rgb(49, 138, 221);
    padding: 30px 15px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin: 10px;
}
.dhtt{
    padding: 20px 0;
    font-weight: 700;
    font-size: 25px;
}